docs/aiware-2026-position-paper.md
docs/aiware-position-paper-v2.md
docs/aiware-position-paper-v3.md
docs/blog_post_draft.md
docs/doctest_blog_post.md
docs/fse-2026-ivr-submission.md
docs/mutualizing_roadmap.md
docs/mutualizing_roadmap_v2.md
docs/mutualizing_roadmap_v3.md
